<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RainyDay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F27D2EAF1D5014C30018C0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27D2EC31D5014C40018C0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27D2ECE1D5014C40018C0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
